.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#text {
    max-width: 400px;
    text-align: left;
    width: 100%;
    color: green;
    font-family: monospace;
    font-size: 18px;
}

#text.typing span:last-child {
    background-color: white;
}